*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #c4ddff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

p {
  font-size: 1.6rem; }

.widget-container {
  margin: 3rem 1rem;
  width: 50vw;
  position: relative;
  text-align: center; }

.linear-menu {
  text-align: center; }
  .linear-menu__item {
    background-color: #fff;
    padding: 2rem;
    display: inline;
    cursor: pointer;
    color: #777;
    transition: all .3s; }
    .linear-menu__item a:link,
    .linear-menu__item a:visited {
      color: #777;
      text-decoration: none; }
    .linear-menu__item:hover {
      padding: 3rem 2rem; }
    .linear-menu__item:target {
      padding: 3rem 2rem;
      background-color: #f7f7f7;
      border-bottom: 10px solid #50bb7c; }
    .linear-menu__item:first-child {
      border-radius: 7px 0 0 7px; }
    .linear-menu__item:last-child {
      border-radius: 0 7px 7px 0; }
  .linear-menu__link {
    position: relative; }
  .linear-menu__icon {
    display: inline;
    padding-right: 1rem;
    vertical-align: middle; }
  .linear-menu__text {
    text-transform: uppercase;
    display: inline;
    vertical-align: middle;
    font-size: 1.4rem;
    font-weight: 700; }
  .linear-menu__notification {
    background-color: #FF0000;
    color: #fff;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    top: -1.3rem;
    right: -1.3rem; }
  .linear-menu__notification-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.profile-edit {
  display: inline-block; }
  .profile-edit__heading {
    text-align: left;
    background-color: #ccc;
    padding: 3rem 5rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    width: 100%; }
  .profile-edit__picture {
    width: 40%;
    margin-right: 2rem; }
    .profile-edit__picture img {
      width: 100%; }
  .profile-edit__information {
    width: 40%; }
  .profile-edit__name {
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 1rem; }
  .profile-edit__followers {
    font-size: 1.7rem; }
  .profile-edit__menu {
    width: 90%;
    margin: auto; }
  .profile-edit__list {
    list-style: none; }
  .profile-edit__menu-item {
    background-color: #fff;
    padding: 3rem;
    line-height: 0;
    cursor: pointer;
    transition: all .2s; }
    .profile-edit__menu-item:last-child {
      border-radius: 0 0 1rem 1rem; }
    .profile-edit__menu-item:hover {
      background-color: #eee;
      border-left: 4px solid #50bb7c; }
      .profile-edit__menu-item:hover .icon {
        color: #FF0000; }
  .profile-edit__action {
    float: left;
    text-transform: capitalize; }
  .profile-edit__icon {
    float: right;
    line-height: 0;
    color: #ccc;
    transition: color .2s; }

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; }

.language-selector {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background-color: #eee;
  border-radius: 3px; }
  .language-selector__button {
    display: inline-block; }
  .language-selector__label {
    padding: .5rem 1rem;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    transition: all .2s; }
  .language-selector__radio {
    display: none; }
    .language-selector__radio:checked + .language-selector__label {
      background-color: #50bb7c;
      color: #fff; }
