$default-font-size: 1.6rem;
$default-font-color: #666;

$color-background: #c4ddff;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ccc;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-red: #FF0000;
$color-green: #41ac6d;
$color-orange: #ee2e14;
$color-yellow: #f0c53a;

$color-brown: #746258;
$color-brown-dark: #52453e;